@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	font-family: 'Varela Round', sans-serif;
	 
}

.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
 }

.jumbotron p:last-child {
	margin-bottom: 0;
 }

.jumbotron .container {
	max-width: 40rem;
}


.protokol .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.protokol h2 {
	font-weight: 400;
	margin-top: 15px;
}

.protokol .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}
	
footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
 }
	  
footer p {
	margin-bottom: .25rem;
}
	  
    
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
		}
}

@media (max-width: 768px){
	.navbar {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
		}
	
		.navbar .nav {
			display: block;
		}
} 