@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

    body {
		font-family: 'Varela Round', sans-serif;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f5f5f5;
	}
	

	.jumbotron {
		padding-top: 3rem;
		padding-bottom: 3rem;
		margin-bottom: 0;
	  }

	  .jumbotron p:last-child {
		margin-bottom: 0;
	  }

	.jumbotron .container {
		max-width: 40rem;
	}

	.navbar-header {
		text-align: center;
	}

  .protokol .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
  }
  .protokol h2 {
	font-weight: 400;
	margin-top: 15px;
  }
  .protokol .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
  }

	
	footer {
		padding-top: 3rem;
		padding-bottom: 3rem;
	  }
	  
	  footer p {
		margin-bottom: .25rem;
	}
	  
    
	@media (min-width: 1200px){
		.featurette-heading {
			font-size: 50px;
		  }
	}
	@media (max-width: 768px){

		.bd-placeholder-img-lg {
			font-size: 3.5rem;
		  }

		.teknik {
			margin-right: 20px;
		}

		.featurette-heading {
			margin-top: 7rem;
	}